<<<<<<< HEAD
=======
#canvas {
  /* height: 100%;
  width: 80%; */
  background-color: rgb(99, 145, 185);
}

>>>>>>> 417157d0c07a63cd7215c09a01dd73fa34c6999c
body {
  background-color: antiquewhite;
}
